<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Main User Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/admin.css">

</head>
<body onload="successfullyLogin()">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/index">Studio <span class="navbar-brand__color">Relaksu</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/index}">Home</a>-->
<!--                </li>-->

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/uslugi}">Usługi</a>
                </li>

<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="#">Main-->
<!--                        <span class="sr-only">(current)</span>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" th:href="@{/index}" onclick="successfullyLogout()" value="Sign Out" style="color:orange;">Wyloguj <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="admin-box">
            <form class="admin-form" method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px; font-weight: bold" th:inline="text">Witaj <a
                            style="color:orange; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        w systemie zarządzania!</label>
                </div>
            </form>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block btn-admin">
        <a class="link-admin" th:href="@{/new_customer}">Edytuj podstawowe dane</a></button>



    <button type="button" class="btn btn-primary btn-lg btn-block btn-admin">
        <a class="link-admin" th:href=@{/edit_user_address}>Edytuj swój adres</a></button>

<!--    <div class="container">-->
<!--        <a th:object="${client}" th:href="@{'/new_customer/' + ${nr_klienta}}">-->
<!--            <button class="btn btn-outline-">Edytuj podstawowe dane</button>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <a th:href="@{/new_address}">-->
<!--            <button class="btn btn-outline-">Edytuj swój adres</button>-->
<!--        </a>-->
<!--    </div>-->





<!--    <div class="btn-box">-->
<!--        <a th:href="@{/"></a>-->
<!--    </div>-->
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>