body {
    //background-image: url('../img/login3.jpg');
    //background-position: center;
    //background-size: cover;
    background-color: white;
}

.container-form {
    position: relative;
    height: 100vh;
}

.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    border: 2px solid orange;
}

label {
    font-size: 2.5rem;
    color: orange;
}

.form-control {
    font-size: 2rem;
    height: 7vh;
}

.btn {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 2rem;
    background-color: orange;
}