* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

.container {
    position: relative;
}

.navbar {
    padding: 2em;
    z-index: 200;
}

.navbar-brand {
    font-size: 3rem;
}

.navbar-brand__color {
    color: orange;
}

.navbar-toggler {
    font-size: 3rem;
}


.nav-item {
    font-size: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: orange;
}

.header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/main_1920.jpg");
    background-position: center;
    background-size: cover;
    }

.header-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);

}

.header-link {
    color: orange;
}

.header-link:hover {
    color: gray;
    text-decoration: none;
}

.header-text {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    padding: 1em;
}

.header-text__title {
    font-size: 6rem;
}

.header-text__undertitle {
    font-size: 3rem;
}

.title-management {
    margin-top: 5%;
    text-transform: uppercase;
}

.title-edit {
    margin-top: 3%;
    text-transform: uppercase;
    color: orange;
}

.button-add {
    border: 2px solid orange;
    background-color: #f3f3f3;
        padding: 10px 30px;
    transition: background-color: .3s
}

.link-add {
    color: black;
    font-size: 1.6em;
    padding: 10px 30px;
    transition: color .3s, text-decoration .3s;
}

.button-add:hover .link-add {
      color: white;
      text-decoration: none;
}

.button-add:hover {
    background-color: orange;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
        font-size: 1.6em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: orange;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid orange;
}

.table-delete:hover {
    color: gray;
    text-decoration: none;
}

 .table-edit:hover {
    color: gray;
    text-decoration: none;
}

.table-delete {
    color: red;
}

.table-edit {
    color: green;
}

.btn-special {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: orange;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

.btn-special:hover{
 border-color: rgba(255,255,255,1);
}
