html {
    font-size: 62.5%
}

.carousel-img {
    max-height: 70vh;
    margin: 0 auto;
    border: 5px solid orange;
    filter: brightness(0.5);
}

.carousel-title {
    font-size: 4rem;
    color: orange;
}

.carousel-text {
    font-size: 2rem;
}